
html {
    position: relative;
    min-height: 100%;
}
body {
    
}
.btn {
    padding-left: 22px;
    padding-right: 22px;
}
audio {
    width: 90%;
}
h1.display-4 {
    font-size: 32pt;
}
h2 {
    text-align: left;
}
h2.display-4 {
    font-size: 16pt;
    font-style: italic;
    font-weight: 600;
}
.smidge {
    margin-bottom: 96px !important;
}
.smudge {
    margin-bottom: 48px !important;
}
audio + audio {
    margin-top: 2em;
}
.progress {
    width: 100%;
    height: 3px !important;
}
/* Body styles
Bebop   bg-primary text-white
Cool    bg-secondary text-white
Hard    bg-success text-white
Free    bg-danger text-white
Mains   bg-warning text-dark
Fusion  bg-info text-white
Post    bg-light text-dark
*/