
html {
    position: relative;
    min-height: 100%;
}
body {
    
}
.btn {
    padding-left: 20px;
    padding-right: 20px;
}
audio {
    width: 90%;
}
h2 {
    text-align: left;
}
.display-4 {
    font-size: 20pt;
}
.rowdown {
    position: absolute;
    bottom: 4rem;
}
/* Body styles
Bebop   bg-primary text-white
Cool    bg-secondary text-white
Hard    bg-success text-white
Free    bg-danger text-white
Mains   bg-warning text-dark
Fusion  bg-info text-white
Post    bg-light text-dark
*/